<div class="app-layout">
  @if (isAdminPage) {
    <app-admin-sidebar [isSidebarOpen]="mobileSidebarOpen()" (closed)="closeMobileSidebar()"></app-admin-sidebar>
  }
  <main class="main-content">
    @if (isAdminPage) {
      <app-admin-navbar [showBreadcrumb]="showBreadcrumb" (toggleSidebar)="toggleMobileSidebar()"></app-admin-navbar>
    } @else {
      <app-user-navbar></app-user-navbar>
    }
    <div [class.page-content]="isAdminPage" [class.portal-content]="!isAdminPage">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>