@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.filters {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.data-table .code-col {
  width: 300px;
}

.form-field .form-hint {
  display: block;
  margin-top: 4px;
  color: $text-secondary;
  font-size: 12px;
  font-style: italic;
}
