@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.filters {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.badge {
  @include badge-base;

  &-success {
    background-color: #dcfce7;
    color: #16a34a;
  }

  &-danger {
    background-color: #fee2e2;
    color: #dc2626;
  }
}
