<main class="py-4 bg-white">
    <div class="container tickets">
        <h1 style="color: #004b8c">Hệ thống đăng ký cơm trưa cho nhân viên</h1>
        <div class="container-cover" style="box-shadow: 0px 3px 8px 0px #888888;border-radius: 8px;">
            <div class="container">
                <div class="col-md-12">
                    <h5>Ngày {{ selectedDay }}/{{ currentMonth + 1 }}/{{ currentYear }}</h5>
                    <div class="notify" style="color: black">
                        <p><i style="color: red">Chú ý: đăng ký ăn trưa trước {{ cutOffTimeLabel }} !!</i></p>
                    </div>
                </div>
            </div>
            <div class="lunch-selector">
                <div class="lunch-date">
                    <div class="selector">
                        <div class="calander"></div>
                    </div>
                    <div class="container">
                        <div class="row lunch-columns">
                            <div id="days" class="col" style="padding: 31.969px 0">
                                <div class="calendar" style="width: 100%">
                                    <section class="ftco-section" style="margin: 0; padding: 0">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="elegant-calencar d-md-flex"
                                                        style="box-shadow: 3px 4px 7px #888888 !important">
                                                        <div class="wrap-header d-flex align-items-center">
                                                            <p id="reset"><img class="calendar img"
                                                                    src="assets/icons/calendar.ico" alt=""></p>
                                                            <div id="header" class="p-0">
                                                                <form id="monthYear">
                                                                    <div class="pre-button d-flex align-items-center justify-content-center"
                                                                        (click)="prevMonth()"><i
                                                                            class="fa fa-chevron-left"></i></div>
                                                                    <div class="head-info">
                                                                        <div class="head-day">{{ selectedDay }}</div>
                                                                        <div class="head-month">{{
                                                                            headerDate | date:'MMMM' | uppercase }} - {{
                                                                            currentYear }}</div>
                                                                    </div>
                                                                    <div class="next-button d-flex align-items-center justify-content-center"
                                                                        (click)="nextMonth()"><i
                                                                            class="fa fa-chevron-right"></i></div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="calendar-wrap">
                                                            <table id="calendar">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Sun</th>
                                                                        <th>Mon</th>
                                                                        <th>Tue</th>
                                                                        <th>Wed</th>
                                                                        <th>Thu</th>
                                                                        <th>Fri</th>
                                                                        <th>Sat</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @for (row of calendarRows; track $index) {
                                                                    <tr>
                                                                        @for (day of row; track $index) {
                                                                        <td [attr.data-date]="day.dateString"
                                                                            [class.daySelect]="day.isRegistered && !day.isSpecial"
                                                                            [class.daySelectSpecial]="day.isRegistered && day.isSpecial"
                                                                            [class.notSelect]="!day.isRegistered && !day.isDisabled && day.dayNumber"
                                                                            [class.disabled]="day.isDisabled && day.dayNumber"
                                                                            [class.past-day]="day.isPastOrCutoff && day.dayNumber"
                                                                            [class.draft]="isDayDirty(day)"
                                                                            [attr.id]="(day.isDisabled || !day.dayNumber) ? 'disabled' : ''"
                                                                            (click)="onDayClick(day)"
                                                                            [style.cursor]="(day.isDisabled || day.isPastOrCutoff) ? 'not-allowed' : (day.dayNumber ? 'pointer' : 'default')">
                                                                            {{ day.dayNumber || '' }}
                                                                            @if (day.isClaimedTicket) {
                                                                            <span class="claimed-badge" title="Vé nhận từ chợ Pass">PASS</span>
                                                                            }
                                                                        </td>
                                                                        }
                                                                    </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="col-md-auto right-panel"
                                style="color: black; font-size: 16px;">
                                <div class="legend-panel">
                                    <h4 class="legend-title">Chú giải trạng thái</h4>
                                    <ul class="legend-list">
                                        <li class="legend-item">
                                            <span class="legend-dot legend-dot--active"></span>
                                            <span class="legend-text">Ngày đăng ký suất thường</span>
                                        </li>
                                        <li class="legend-item">
                                            <span class="legend-dot legend-dot--special"></span>
                                            <span class="legend-text">Ngày đăng ký suất đặc biệt</span>
                                        </li>
                                        <li class="legend-item">
                                            <span class="legend-dot legend-dot--none"></span>
                                            <span class="legend-text">Ngày chưa đăng ký ăn</span>
                                        </li>
                                        <li class="legend-item">
                                            <span class="legend-dot legend-dot--draft"></span>
                                            <span class="legend-text">Thay đổi chưa lưu</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="summary-panel d-flex flex-column">
                                    <div class="summary-info" id="lunch-infor">
                                        <div class="summary-row">
                                            <span class="summary-key">Giá tiền:</span>
                                            <span class="summary-val"><label id="price" for="price" [attr.value]="pricePerMeal">{{ pricePerMeal | formatMoney }} / vé</label></span>
                                        </div>
                                        <div class="summary-row">
                                            <span class="summary-key">Tổng ngày ăn:</span>
                                            <span class="summary-val"><label id="countday" for="day">{{ totalDaysEat }}</label> ngày</span>
                                        </div>
                                        <div class="summary-row">
                                            <span class="summary-key">Tổng tiền:</span>
                                            <span class="summary-val"><label class="total" id="total" for="totalprice" [attr.value]="totalPrice">{{ totalPrice | formatMoney }}</label></span>
                                        </div>
                                    </div>
                                    <div class="summary-actions">
                                        <a id="allday" class="btn btn-info text-white btn-select-all" (click)="toggleSelectAll()">{{ isAllSelected ? 'Bỏ chọn tất cả' : 'Chọn tất cả' }}</a>
                                        <a href="javascript:void(0)" class="btn btn-warning text-dark" (click)="goToTicketExchange()">Pass vé</a>
                                        <a href="javascript:void(0)" class="btn btn-info text-white" (click)="viewMenu()">Xem thực đơn</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form id="ticketstore">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 text-center" style="padding-top: 1%;">
                                <button type="button" class="btn btn-primary register" id="update" [disabled]="loading"
                                    (click)="saveRegistration()">Lưu đăng ký</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<style>
    @media (min-width: 768px) {
        .modal-xl {
            width: 90%;
            max-width: 1500px;
        }
    }
</style>
@if (showMenuModal) {
<div class="modal fade show" id="exampleModalXl" tabindex="-1" aria-labelledby="exampleModalXlLabel" aria-modal="true"
    role="dialog" style="display: block; padding-right: 17px; background: rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-xl" [class.image-mode]="!!menuImageUrl">
        <div class="modal-content" style="overflow: auto">
            <div class="modal-header">
                <div class="row w-100" style="place-content: center">
                    <h3 class="modal-title" id="exampleModalLabel">Thực đơn</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeMenuModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 20px 40px;">
                <div id="tablemenu">
                    @if (isLoadingMenu) {
                    <div class="text-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    } @else {
                    @if (menuGrid.length > 0) {
                    <div class="table-responsive">
                        <table class="table table-bordered menu-grid-table">
                            <thead style="border: 1px solid black;">
                                <tr>
                                    <th class="text-center align-middle"
                                        style="width: 150px; background-color: #f8f9fa; border: 1px solid black;">Nội dung</th>
                                    @for (day of gridDays; track $index) {
                                    <th class="text-center align-middle" style="background-color: #f8f9fa; border: 1px solid black;">
                                        <div style="color: #004b8c;">{{ day.dayOfWeek.split(',')[0] }}</div>
                                        <div style="font-weight: normal; font-size: 14px;">{{
                                            day.dayOfWeek.split(',')[1] }}</div>
                                    </th>
                                    }
                                </tr>
                            </thead>
                            <tbody style="border: 1px solid black;">
                                @for (group of menuGrid; track $index) {
                                    @for (dishRow of group.dishRows; track $index; let isFirst = $first) {
                                    <tr>
                                        @if (isFirst) {
                                        <td [attr.rowspan]="group.maxDishes" class="text-center align-middle" style="border: 1px solid black; background-color: #f8f9fa;">
                                            <div style="font-weight: bold; color: black;">{{ group.priceName }}</div>
                                            <div style="font-weight: bold; color: red;">{{ group.priceAmount | formatMoney }}</div>
                                        </td>
                                        }
                                        @for (dishText of dishRow.dayDishes; track $index) {
                                        <td class="align-middle text-center" style="border: 1px solid black; padding: 8px 12px;" [class.empty-cell]="!dishText">
                                            {{ dishText || '' }}
                                        </td>
                                        }
                                    </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    } @else if (menuImageUrl) {
                    <div class="text-center menu-image-wrapper">
                        <img [src]="menuImageUrl" alt="Thực đơn tuần" class="menu-image">
                    </div>
                    } @else {
                    <div class="col-12 text-center">
                        <p class="text-muted p-4">Chưa có thông tin thực đơn cho tuần này.</p>
                    </div>
                    }
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="closeMenuModal()">Đóng</button>
            </div>
        </div>
    </div>
</div>
}
