@use '@angular/material' as mat;

@use './styles/variables';
@use './styles/mixins';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

html {
  @include mat.theme((
    color: mat.$azure-palette,
    typography: (
      plain-family: var(--font-sans-serif),
      brand-family: var(--font-sans-serif)
    ),
    density: 0
  ));
}

.mat-datepicker-content:has(.custom-date-picker-overlay) {
  --mat-datepicker-calendar-container-background-color: #ffffff;
  --mat-datepicker-calendar-container-shape: 12px;
  --mat-datepicker-calendar-container-elevation-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

  .mat-calendar {
    width: 320px;
  }

  .mat-calendar-content {
    padding: 0 12px 12px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans-serif);
  background-color: variables.$bg-color; /* Đã thêm variables. */
  color: variables.$text-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

thead th {
  font-weight: 700 !important;
  color: #000000 !important;
}
